.root {
  position: relative;

  width: 170px;
  height: 17px;

  fill: var(--color-fg-main);

  > * {
    transition:
      opacity var(--transition-preset),
      transform var(--transition-preset);
  }

  > :last-child {
    position: absolute;
    inset: 0;

    opacity: 0;
  }

  &:hover {
    > :first-child,
    > :last-child {
      transform: scale(1.05);
    }

    > :first-child {
      opacity: 0;
    }

    > :last-child {
      opacity: 1;
    }
  }
}
