$black: #131315;
$black-90: rgba(19 19 21 / 0.9);
$black-border: #263238;
$grey: #18181b;
$stroke-grey: #353535;
$secondary-txt: #545454;
$grey-light-txt: #666;
$grey-txt: #d2d2d2;
$white: #fff;
$blue: #0082fb;
$light-blue: #05aaff;
$dark-green: #0cab5e;
$light-green: #01ea83;
$hacken-token-color: #3ef2cf;
$purple: #852eff;
$red: #ff002e;
$orange: #f18608;
$pink: #ff73df;
$yellow: #faff00;
