@keyframes scroll {
  from {
    transform: translateX(0%);
  }
}

.root {
  display: flex;

  max-width: 100vw;
  min-height: 260px;

  overflow: hidden;
}

.ticker {
  display: flex;

  align-items: center;

  width: max-content;

  animation: scroll linear infinite;
  animation-delay: var(--fade-in-duration);

  &:hover {
    animation-play-state: paused;
  }
}

.tickerItem {
  flex-shrink: 0;
}
